#title {
    background-color: #F2CD5C;
}
.introduction{
    text-align: center;
}
.introduction h1,.introduction p,.connect-btn{
    margin: 1.5rem auto;
}
.introduction h1 {
    font-family: 'Alkatra', cursive;
    font-size: 4rem;
    line-height: 1.5;
    color: red;
}

.introduction p {
    font-family: 'Montaga', serif;
    font-size: 1.3rem;
    line-height: 1.5;
    color: black;
}

#image {
    width: 300px;
    min-height: 400px;
}

.nav-link {
    color: black;
    font-size: 1.5rem;
    margin: 1rem;
}

.tech-stack {
    margin: 2rem auto;
    padding: auto;
}

.tech-stack h1 {
    font-family: 'Alkatra', cursive;
    font-size: 2.5rem;
    color: black;
    text-align: center;
}

.container-items {
    display: grid;
    row-gap: 1em;
    margin: auto 1rem;
}

.flex-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.5rem;
}

.flex-items img{
    width: auto;
    height: 120px;
}

.box {
    text-align: center;
    flex: 100px;
    margin: 0.5rem;
    padding: 1rem;
}