* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Lato', sans-serif;
}

h4 {
    font-family: 'Open Sans', sans-serif;
}

h5 {
    font-family: 'Raleway', sans-serif;
}

.nav-section {
    margin: 1rem auto;
    padding: 1.5rem;
}

.introduction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.intro-part {
    flex: 1 1 60%;
    /* Adjusted flex value to make the left side larger */
}

.intro-content {
    text-align: center;
    margin: 1.5rem auto;
    padding: 0;
}

.intro-image {
    margin: 1rem auto;
    padding: 0;
    max-width: 300px;
    /* Adjust the width as needed */
}

.intro-part h1 {
    font-family: 'Alkatra', cursive;
    font-size: 3rem;
    /* Decreased font size for better readability */
    line-height: 1.5;
    color: red;
}

.intro-part p {
    font-family: 'Montaga', serif;
    font-size: 1.3rem;
    line-height: 1.5;
    color: black;
}

.download-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem;
}

.connect-btn {
    margin: 2rem auto;
}

.connect-btn:hover {
    background-color: white;
    color: black;
}

#image {
    max-width: 300px;
    min-height: 320px;
}

.nav-link {
    color: black;
    font-size: 1.5rem;
    margin: 1rem;
}

.nav-link:hover {
    color: blue;
}

.tech-stack {
    margin: 2rem auto;
    padding: 0;
}

.tech-stack h1 {
    font-family: 'Alkatra', cursive;
    font-size: 2.5rem;
    color: black;
    text-align: center;
}

.flex-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    padding: 0;
}

.flex-items img {
    height: 120px;
    object-fit: cover;
    transition: transform 0.6s ease;
}

.box {
    text-align: center;
    flex: 1 1 25%;
    margin: 1rem;
    padding: 1rem;
    animation: animation 0.6s linear 0.3s infinite both;
    -webkit-animation: animation 0.6s linear 0.3s infinite both;
}

.box:hover img {
    cursor: pointer;
    transform: rotateY(360deg);
}


/**
 * ----------------------------------------
 * animation
 * ----------------------------------------
 */
@keyframes animation {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

.footer {
    background-color: black;
}

.footer .footer-header {
    text-align: center;
    color: white;
    font-family: 'Montaga', serif;
    font-size: 1.5rem;
    padding: 1rem;
}

.footer-links {
    text-align: center;
    padding: 1rem;
    color: white;
}

.footer-links>a {
    color: red;
    text-decoration: none;
}

.footer-links>a:hover {
    color: white;
}

.footer-images,
.download {
    width: 25px;
}

.project-section {
    margin-top: 4rem;
}

.heading {
    text-align: center;
    margin: 1rem;
}

.heading h2 {
    font-family: 'Alkatra', cursive;
    font-size: 2.5rem;
}

.heading h5 {
    padding: 1rem;
}

.cards {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.5rem;
    border: none;
    justify-content: space-evenly;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.329);
    transition: transform 0.2s ease-in-out, box-shadow 0.5s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 10px rgba(5, 57, 247, 0.934);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.card-title,
.card-description {
    margin: 1rem;
    padding: 1rem;
}

.card-image {
    max-width: 400px;
}

.card-image:hover {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.card-links {
    width: 20px;
}

.card-description>span>a {
    text-decoration: none;
    padding-right: 1rem;
}

.card-description>span>a {
    text-decoration: none;
    padding-right: 1rem;
}

@media screen and (max-width: 480px) {
    .intro-part h1 {
        font-family: 'Alkatra', cursive;
        font-size: 2.5rem;
        /* Decreased font size for better readability */
        line-height: 1.2;
        color: red;
        margin-bottom: 1rem;
    }

    .intro-part p {
        font-family: 'Montaga', serif;
        font-size: 1rem;
        line-height: 1.2;
        color: black;
    }

    .flex-items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        margin: 0.3rem auto;
    }

    .flex-items img {
        width: auto;
        height: 80px;
    }

    .box {
        margin: 0.3rem;
        padding: 0.3rem;
        animation: animation 0.6s linear 0.2s infinite both;
        -webkit-animation: animation 0.6s linear 0.2s infinite both;
    }

    .project-section {
        margin-top: 2.5rem;
    }

    .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem;
        border: none;
        flex-wrap: wrap;
    }

    .card-image {
        max-width: 320px;
    }

    .card-description h6 {
        font-size: 14px;
    }

    .footer h4 {
        font-size: 1.2rem;
        text-align: center;
        padding: 1rem;
        color: white;
    }

    .footer-images {
        width: 20px;
    }
}

@media screen and (max-width: 768px) {
    .project-section {
        margin-top: 3rem;
    }

    .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem;
        border: none;
        flex-wrap: wrap;
    }
}