.title{
    background-image:url("images/Background.png");
}
.introduction{
    display : flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.intro-part{
    text-align: center;
    margin: 2.5rem auto;
    padding: auto;
}
.intro-part h1 {
    font-family: 'Alkatra', cursive;
    font-size: 5rem;
    line-height: 1.8;
    color: red;
}

.intro-part p {
    font-family: 'Montaga', serif;
    font-size: 1.3rem;
    line-height: 1.5;
    color: black;
}
.connect-btn{
    margin-top: 2rem;
}

#image {
    max-width: 300px;
    min-height: 320px;
}

.nav-link {
    color: black;
    font-size: 1.5rem;
    margin: 1rem;
}

.tech-stack {
    margin: 2rem auto;
    padding: auto;
}

.tech-stack h1 {
    font-family: 'Alkatra', cursive;
    font-size: 2.5rem;
    color: black;
    text-align: center;
}

.container-items {
    display: grid;
    row-gap: 0.5em;
    margin: auto 1rem;
}

.flex-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.5rem;
}

.flex-items img{
    width: auto;
    height: 120px;
}

.box {
    text-align: center;
    flex: 100px;
    margin: 0.5rem;
    padding: 1rem;
}

.footer{
    background-color: black;
}
.footer .footer-header{
    text-align: center;
    color: white;
    font-family: 'Montaga', serif;
    font-size: 1.5rem;
    padding: 2rem;
}